{{ partial "header.html" . }}
<span id="sidebar-toggle-span">
<a href="#" id="sidebar-toggle" data-sidebar-toggle=""><i class="fas fa-bars"></i> navigation</a>
</span>

{{if .Site.Home.Content }} 
{{.Site.Home.Content}}	
{{else}}           


		<h1>Introduction</h1>

<p>This guide briefly presents the CO3 project outcomes by the FirstLife team (Computer Science Department -
 University of Turin).<br>

The guide contains a collection of all the components implemented for the Co3Project by FirstLife .<br>

The purpose of this repository is to provide to the community a reference point to help them reuse the outcomes but also to include new third party platforms to the Co3Project ecosystem, thus helping Co3Project to scale-up with new tools and solutions.<br>

This guide, also focuses to system administrators who wish to install the components.<br>

The source code, but also instructions on how to install and setup the tools are available as well.<br>
</p>

<b>Contact</b>
info@firstlife.it <br>
Computer Science Department<br>
University of Torino<br>



{{ end }}  
{{ partial "footer.html" . }}
